<div class="row">
    <div class="col-md-12">
        <h2>{{data.departmentName}} - Department: {{data.departmentId}}</h2>
        <hr/>
        <form method="post" action="/departments/update">
        <input type="hidden" name="departmentId" value={{data.departmentId}}>
        <input class="form-control" type= "text", name= "departmentName", label= "Department Name" value="{{data.departmentName}}" />
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
        </form>
    </div>
</div>